@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: #000000;
}

img,
p,
span,
div {
  -webkit-user-drag: none; /* empêche le drag d'images sur WebKit */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none; /* empêche la sélection de texte */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: var(--font-manrope);
}

a {
  font-family: var(--font-manrope);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.gradient-container {
  background: #57cfff;
  background: linear-gradient(
    180deg,
    rgba(87, 207, 255, 1) 0%,
    rgba(237, 250, 255, 1) 89%,
    rgba(255, 252, 251, 1) 100%
  );
}

body {
  background-color: #f9f9f9;
  font-family: var(--font-manrope);
}

strong {
  font-weight: 600;
}

.gradient-text {
  background: linear-gradient(to right, #0051d2, #2978fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback pour les navigateurs qui ne supportent pas background-clip */
}

.blueText strong,
.blueText em {
  color: #0051d2 !important;
}
@media screen and (max-width: 1024px) {
  .noBr br {
    display: none;
  }
}

@layer base {
  .theme {
    --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h2 {
  font-size: 32px;
  font-weight: 700;
}

.h3 {
  font-size: 24px;
  font-weight: 700;
}

@theme inline {
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

.tooltip {
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #f2f3f5;
}