@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: #000000;
}

img,
p,
span,
div {
  -webkit-user-drag: none; /* empêche le drag d'images sur WebKit */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none; /* empêche la sélection de texte */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: var(--font-manrope);
}

a {
  font-family: var(--font-manrope);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.gradient-container {
  background: #57cfff;
  background: linear-gradient(
    180deg,
    rgba(87, 207, 255, 1) 0%,
    rgba(237, 250, 255, 1) 89%,
    rgba(255, 252, 251, 1) 100%
  );
}

body {
  background-color: #f9f9f9;
  font-family: var(--font-manrope);
}

strong {
  font-weight: 600;
}

.blueText strong,
.blueText em {
  color: #0051d2 !important;
}
@media screen and (max-width: 1024px) {
  .noBr br {
    display: none;
  }
}

@layer base {
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
